# Private Files
_notes
_old
_literature

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Virtual environments
.venv

#Metadata for installed projects
*.egg-info/
__pycache__